# Read Readme before doing anything


#________COMPULSORY____________

TG_BOT_TOKEN= "5071962070:AAEJG39BDStfKUDAQrxSYwjJ23jmeSZcdfY"
APP_ID = 7992241
API_HASH = "44b857516a17a2d23979f927c003c874"
OWNER_ID = 1147258041

# Add different ID separated by a SPACE (Like :: AUTH_CHANNEL = -10012503747 -10012586941 539295917)
AUTH_CHANNEL = -1001580179255


#__________NOT ________COMPULSORY____________ ::

# For RCLONE ::
# Name of the folder....not ID
DESTINATION_FOLDER = "gdriveopencloudx"
INDEX_LINK = "https://nxtcloud.nxtcloudmirrorbot.workers.dev/4:/"

# OTHERS ::
EDIT_SLEEP_TIME_OUT = 15
MAX_TG_SPLIT_FILE_SIZE = 1072864000

#_____There are other vars too_____Read Readme to Know better____
#_____And fill them as new line if needed :)
